<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EventsPortSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <endpoint address="http://localhost:8443/ws" binding="basicHttpBinding"
                bindingConfiguration="EventsPortSoap11" contract="EventsService.EventsPort"
                name="EventsPortSoap11" />
        </client>
    </system.serviceModel>
</configuration>