<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
            <binding name="EventsPortSoap11" messageEncoding="Mtom">
              <security mode="Transport">
                <message clientCredentialType="Certificate" />
              </security>
            </binding>
        </basicHttpBinding>
      </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="endpointCredentialBehavior">
            <clientCredentials>
              <clientCertificate findValue="24dcbd8ad0d96286a314c3b932d9e9b42f7ec6d3"
                                 storeLocation="LocalMachine"
                                 storeName="My"
                                 x509FindType="FindByThumbprint" />
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <client>
            <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
            <endpoint address="https://localhost:8443/ws" binding="basicHttpBinding"
                bindingConfiguration="EventsPortSoap11" contract="EventsService.EventsPort"
                name="EventsPortSoap11" />
        </client>
    </system.serviceModel>
</configuration>